@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
}
body,
#__next {
  min-height: 100%;
}
/* body,
#__next {
  height: 100%;
} */
#__next {
  position: relative;
  height: fit-content;
}

input[type="checkbox"]:focus-visible + label:before {
  border-color: rgb(245 158 203 / var(--tw-border-opacity));
}

@layer components {
  .checkbox-custom {
    opacity: 0;
    height: 0;
    width: 0;
    appearance: none;
  }
  .checkbox-custom + label {
    cursor: pointer;
  }
  .checkbox-custom + label::before {
    content: "";
    display: inline-block;
    border-width: theme("borderWidth.2");
    height: 24px;
    width: 24px;
    margin-right: 0.5rem;
    border-color: theme("colors.slate.300") !important;
    border-radius: theme("borderRadius.md");
    background-color: theme("colors.slate.50");
    outline: none;
  }
  .checkbox-custom:checked + label::before {
    content: "\2713";
    border-color: theme("colors.pink.400") !important;
    background-color: theme("colors.pink.400");
    text-align: center;
    font-size: smaller;
    color: theme("colors.white");
    font-weight: 800;
    outline: none;
  }
  .checkbox-custom:focus + label::before {
    border-color: theme("colors.pink.400");
    outline: 2px solid theme("colors.pink.400");
    outline-offset: 2px !important;
  }
  .checkbox-custom:checked:focus + label::before {
    border-color: theme("colors.pink.400");
  }
  .checkbox-custom:disabled + label {
    cursor: default;
  }
  .checkbox-custom:checked:disabled + label::before {
    content: "\2713";
    cursor: default;
    background-color: theme("colors.slate.400");
    border-color: theme("colors.slate.300") !important;
  }
}
